appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
attrs==19.3.0
autopep8==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cloudant==2.12.0
DateTime==4.3
distlib==0.3.0
djangify==1.0.0
Django==3.0.5
django-cors-headers==3.2.1
django-filter==2.2.0
djangorestframework==3.11.0
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.7.9
Flask==1.1.2
h5py==2.10.0
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
mysql-connector==2.2.9
mysql-connector-python-rf==2.2.2
numpy==1.18.3
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pep8==1.7.1
pipenv==2018.11.26
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
svgwrite==1.4
tskit==0.2.3
urllib3==1.25.8
virtualenv==20.0.18
virtualenv-clone==0.5.4
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.11.2
xlrd==1.2.0
zope.interface==5.1.0
